html,body{
	height: 100%;
	width: 100%;
	margin: 0;
}
@font-face {
	font-family: Pacifico;
	src: url(../fonts/Pacifico.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Regular.otf);
}
@font-face {
	font-family: arquitecta;
	src: url(../fonts/arquitecta_thin.otf);
}
@font-face {
	font-family: Script;
	src: url(../fonts/PT_Script_Eclipse.ttf);
}

.header-nav{
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header-nav img{
	width: 100%;
}
.header-first{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.92);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 52%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 52%, 0% 100%);
}
.grup-head{
	display: inline-block;
	width: 350px;
	/* padding: 10px 15px; */
	/* padding-left: 38px; */
	/* padding-top: 64px; */
	position: absolute;
	top: 20%;
	left: 5%;
	padding: 13px 15px;
	border: 2px solid #ab0b2d;
	text-align: center;
	box-shadow: 2px 2px 8px darkgrey;
	border-radius: 5px;
}
.grup-head h3{
	color: #ab0d2e;
	margin-top: 0;
	font-family: Pacifico;
}
.grup-head p{
	font-family: arquitecta;
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 0;
}
.header-second{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 43%;
	background-color: rgba(35, 33, 33, 0.92);
	-webkit-clip-path: polygon(0 49%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 49%, 100% 0, 100% 100%, 0 100%);
}
.grup-daftar{
	position: absolute;
	bottom: 24%;
	width: 100%;
	text-align: center;
}
.grup-daftar ul{
	margin: 0;
	color: white;
	list-style: none;
	padding: 0;
}
.grup-daftar ul li{
	display: inline-block;
}
.grup-daftar ul li a{
	color: white;
	font-size: 20px;
	display: inline-block;
	padding: 10px 8px;
	text-decoration: none;
	font-family: Pacifico;
	transition: .5s;
}
.grup-daftar ul li a:hover{
	background-color: #ac0e2f;
	border-radius: 5px;
	text-decoration: none;
}
.active{
	background-color: #ac0e2f;
	border-radius: 5px;
	text-decoration: none;
}
.navigasi-nav{
	position: absolute;
	right: 2%;
	top: 11%;
}
.navigasi-nav a,.navigasi-nav a:focus{
	color: #ab0d2e;
	margin-top: 0;
	font-family: Pacifico;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 10px;
	border: 2px solid;
}
.navigasi-nav a:hover{
	color: white;
	margin-top: 0;
	font-family: Pacifico;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 10px;
	border: 2px solid #ab0d2e;
	background-color: #ab0d2e;
}
.image-style{
	width: 500px;
	text-align: center;
	margin: 0 auto;
}
.image-style img{
	width: 100%;
}
.grup-detail-home{
	color: white;
}
.grup-detail-home h1{
	font-family: Script;
	border-bottom: 3px solid white;
	display: inline-block;
}
.grup-detail-home p{
	font-family: arquitecta;
	font-size: 18px;
	font-weight: 900;
}
footer{
	text-align: center;
}
.footer-style{
	text-align: center;
	font-family: Script;
	font-size: 30px;
	color: #ab0d2e;
	margin-top: -5px;
	/* border: 2px solid; */
	/* display: inline-block; */
	padding: 5px 10px;
}
.footer-style:hover{
	color: white;
	background-color: #ab0d2e;
}
.grup-form-pengajuan{
	display: block;
	width: 100%;
	width: 300px;
	margin: 0 auto;
	padding: 20px 0;
}
.grup-form-pengajuan h3{
	color: #ab0d2e;
	font-family: Pacifico;
	text-align: center;
	font-size: 32px;
	margin: 0;
	margin-bottom: 10px;
}
.grup-form-pengajuan #kata-form{
	text-align: center;
	color: #ab0d2e;
	font-family: Script;
	font-size: 20px;
}
.grup-form-pengajuan h4{
	text-align: center;
	font-size: 24px;
	margin: 5px 0;
	background-color: rgba(218, 218, 218, 0.48);
	padding: 9px 6px;
	border-radius: 37px;
	color: #ab0d2e;
	font-family: Script;
}
.grup-form-pengajuan form .form-group label {
	color: #ab0d2e;
	font-family: Script;
	font-size: 20px;
}
.grup-form-pengajuan form button {
	background-color: white;
	border: 2px solid #ab0d2e;
	color: #ab0d2e;
	padding: 3px 10px;
	font-family: Script;
	font-size: 21px;
	font-weight: 900;
	width: 100%;
}
.grup-form-pengajuan form button:hover{
	background-color: #ab0d2e;
	color: white;
}
.grup-form-pengajuan form .form-group input {
	color: #ab0d2e;
	border-radius: 0;
	border: none;
	border-bottom: 3px solid #ab0d2e;
	box-shadow: none;
	font-size: 18px;
	font-style: italic;
}
.grup-form-pengajuan form .form-group input:hover, .grup-form-pengajuan form .form-group input:active, .grup-form-pengajuan form .form-group input:focus {
	box-shadow: 0px 9px 8px #cac3c3;
}
.grup-form-pengajuan form .form-group select {
	color: #ab0d2e;
	border-radius: 0;
	border: none;
	border-bottom: 3px solid #ab0d2e;
	box-shadow: none;
	font-size: 18px;
	font-style: italic;
}
.grup-form-pengajuan form .form-group select:hover, .grup-form-pengajuan form .form-group select:active, .grup-form-pengajuan form .form-group select:focus {
	box-shadow: 0px 9px 8px #cac3c3;
}

/*login*/
.all-login{
	height: 100%;
	width: 100%;
	position: relative;
}
.form-center-login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.grup-form-pengajuan a{
	text-decoration: none;
	color: #ab0d2e;
	font-family: Script;
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: 8px;
	padding: 5px 8px;
	display: inline-block;
}
.grup-form-pengajuan a:hover{
	background-color: #ab0d2e;
	color: white;
	border-radius: 20px;
}
/*end login*/

/*check*/
.grup-all-hasil a{
	text-decoration: none;
	color: #ab0d2e;
	font-family: Script;
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: 8px;
	padding: 5px 8px;
	display: inline-block;
}
.grup-all-hasil a:hover{
	text-decoration: none;
	background-color: #ab0d2e;
	color: white;
	border-radius: 20px;
}
.center-all-check{
	width: 100%;
	height: 100%;
	position: relative;
}
.grup-all-hasil{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.grup-all-hasil h1{
	color: #ab0d2e;
	font-family: Pacifico;
}
.grup-all-hasil p{
	color: #ab0d2e;
	font-family: Script;
	font-size: 22px;
	text-align: center;
	background-color: rgba(204, 202, 202, 0.41);
	padding: 5px 0;
	margin: 5px 0;
	font-weight: 900;
}
/*end check*/

/*dashboard admin*/
.sidebar {
	border-top-left-radius: 6px;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 21%;
	background-color: #f1f1f1;
	/* position: fixed; */
	height: 1000px;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	font-family: Script;
	font-size: 24px;
}

.sidebar a.active {
	background-color: #ab0d2e;
	color: white;
	border-radius: 0;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

div.content {
	/*margin-left: 250px;*/
	width: 79%;
	display: inline-block;
	float: right;
	padding: 1px 16px;
	height: 1000px;
	background-color: white;
	border-top-right-radius: 6px;
	overflow-y: auto;
}
.grup-all-admin-content{
	display: inline-block;
	width: 100%;
	padding: 5%;
	padding-top: 20%;
	background-color: #ad0e2e;
	position: relative;
}
.grup-detail-admin-content{
	position: absolute;
	top: 10%;
	text-align: center;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.grup-detail-admin-content h1{
	font-family: Pacifico;
}
.grup-detail-admin-content p{
	font-family: arquitecta;
	font-weight: 900;
	font-size: 17px;
}
.head-content-admin h2{
	font-family: Pacifico;
	border-bottom: 3px solid;
}
.alert {
	margin-bottom: 0 !important;
}
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}
/*end dashboard admin*/

/*admin colab*/
#image-foto{
	width: 125px;
	height: 125px;
	overflow: hidden;
}
#image-foto img{
	width: 100%;
	height: 100%;
}
/*admin colab*/